<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        .errorMsg{
            color: red;
            font-size: 9pt;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div id="header">
        <p>书城111</p>
    </div>
    <div id="content">
        <div id="register_form">
            <div id="reg_box">
                <div id="form">
                    <form ref="registerForm" action="/webtest01/register" method="post" @submit.prevent="register">
                        <div class="form_item">
                            <label for="username">用户名:</label>
                            <input type="text"
                                   name="username"
                                   id="username"
                                   autocomplete="off"
                                   placeholder="请输入用户名"
                                   @blur="checkUsername"
                                   v-model="username">
                            <span class="errorMsg" v-if="usernameErrMsg">{{usernameErrMsg}}</span>
                        </div>
                        <div class="form_item">
                        <label for="password">密码:</label>
                        <input type="password"
                               name="rawPassword"
                               id="password"
                               autocomplete="off"
                               placeholder="请输入密码"
                               @blur="checkPassword"
                               v-model="password">
                            <span class="errorMsg" v-if="passwordErrMsg">{{passwordErrMsg}}</span>
                        </div>
                        <div class="form_item">
                            <label for="confirmPassword">确认密码:</label>
                            <input type="password"
                                   id="confirmPassword"
                                   autocomplete="off"
                                   placeholder="请输入确认密码"
                                   @blur="checkConfirmPassword"
                                   v-model="confirmPassword">
                            <span class="errorMsg" v-if="confirmPasswordErrMsg">{{confirmPasswordErrMsg}}</span>
                        </div>
                        <div class="form_item">
                            <label for="email">邮箱:</label>
                            <input type="text"
                                   name="email"
                                   id="email"
                                   autocomplete="off"
                                   placeholder="请输入邮箱"
                                   @blur="checkEmail"
                                   v-model="email">
                            <span class="errorMsg" v-if="emailErrMsg">{{emailErrMsg}}</span>
                        </div>
                        <div class="form_item">
                            <label for="verify">验证码:</label>
                            <input type="text"
                                   id="verify"
                                   placeholder="请输入验证码"
                                   v-model="verify"
                                   @blur="checkVerify">
                            <img src="#"/>
                            <span class="errorMsg" v-if="verifyErrMsg">{{verifyErrMsg}}</span>
                        </div>
                        <input type="submit" value="注册" :disabled="submitting"/>
                    </form>
                    <div id="login">
                        <a href="pages/login.html">转到登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        &copy;2010-2026年
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            confirmPassword: '',
            email: '',
            verify: '',
            usernameErrMsg:'',
            passwordErrMsg:'',
            confirmPasswordErrMsg:'',
            emailErrMsg:'',
            verifyErrMsg:'',
            submitting: false
        },
        methods: {
            checkUsername: function(){
                if(!this.username.trim()){
                    this.usernameErrMsg = "用户名应为6~16位数字和字母组成";
                    return false;
                }
                var reg = /^[a-zA-Z0-9]{6,16}$/;
                if(reg.test(this.username.trim())){
                    this.usernameErrMsg = "";
                    return true;
                }else{
                    this.usernameErrMsg = "用户名应为6~16位数字和字母组成";
                    return false;
                }
            },
            checkPassword: function(){
                if(!this.password.trim()){
                    this.passwordErrMsg = "密码的长度至少为8位";
                    return false;
                }
                var reg = /^[a-zA-Z0-9]{8,}$/;
                if(reg.test(this.password.trim())){
                    this.passwordErrMsg = "";
                    return true;
                }else{
                    this.passwordErrMsg = "密码的长度至少为8位";
                    return false;
                }
            },
            checkConfirmPassword: function(){
                if(!this.confirmPassword.trim()){
                    this.confirmPasswordErrMsg = "密码两次输入不一致";
                    return false;
                }
                if(this.password.trim() === this.confirmPassword.trim()){
                    this.confirmPasswordErrMsg = "";
                    return true;
                }else{
                    this.confirmPasswordErrMsg = "密码两次输入不一致";
                    return false;
                }
            },
            checkEmail: function(){
                if(!this.email.trim()){
                    this.emailErrMsg = "请输入正确的邮箱格式";
                    return false;
                }
                var reg = /^[a-zA-Z0-9_.-]+@\w+\.[a-zA-Z0-9_]{2,}$/;
                if(reg.test(this.email.trim())){
                    this.emailErrMsg = "";
                    return true;
                }else{
                    this.emailErrMsg = "请输入正确的邮箱格式";
                    return false;
                }
            },
            checkVerify: function(){
                if(!this.verify.trim()){
                    this.verifyErrMsg = "验证码错误";
                    return false;
                }
                if ("axzn" === this.verify.trim()){
                    this.verifyErrMsg = "";
                    return true;
                }else{
                    this.verifyErrMsg = "验证码错误";
                    return false;
                }
            },
            register: function(){
                this.submitting = false;
                if(this.checkUsername() && this.checkPassword() && this.checkConfirmPassword() && this.checkEmail() && this.checkVerify()){
                    this.submitting = true;
                    this.$refs.registerForm.submit();
                }
            }
        }
    });
</script>
</body>
</html>